<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>抽奖系统管理后台</title>

        <!-- basic styles -->

        <link href="/Static/assets/css/bootstrap.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="/Static/assets/css/font-awesome.min.css" />
  
        <link rel="stylesheet" href="/Static/assets/css/ace.min.css" />
        <link rel="stylesheet" href="/Static/assets/css/ace-rtl.min.css" />
        <link rel="stylesheet" href="/Static/assets/css/ace-skins.min.css" />

       

    </head>

    <body>
        <script type="text/javascript">
            window.jQuery || document.write("<script src='/Static/assets/js/jquery-2.0.3.min.js'>" + "<" + "/script>");
        </script>
        <div class="navbar navbar-default" id="navbar">
            <script type="text/javascript">
                try { ace.settings.check('navbar', 'fixed') } catch (e) { }
            </script>

            <div class="navbar-container" id="navbar-container">
                <div class="navbar-header pull-left">
                    <a href="#" class="navbar-brand">
                        <small>
                            <i class="icon-leaf"></i>
                            抽奖管理系统
                        </small>
                    </a><!-- /.brand -->
                </div><!-- /.navbar-header -->

           
            </div><!-- /.container -->
        </div>

        <div class="main-container" id="main-container">
            <script type="text/javascript">
                try { ace.settings.check('main-container', 'fixed') } catch (e) { }
            </script>

            <div class="main-container-inner">
                <a class="menu-toggler" id="menu-toggler" href="#">
                    <span class="menu-text"></span>
                </a>

                <div class="sidebar" id="sidebar">
                    <script type="text/javascript">
                        try { ace.settings.check('sidebar', 'fixed') } catch (e) { }
                    </script>

                    <div class="sidebar-shortcuts" id="sidebar-shortcuts">
                        @*<div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
                        <button class="btn btn-success">
                            <i class="icon-signal"></i>
                        </button>

                        <button class="btn btn-info">
                            <i class="icon-pencil"></i>
                        </button>

                        <button class="btn btn-warning">
                            <i class="icon-group"></i>
                        </button>

                        <button class="btn btn-danger">
                            <i class="icon-cogs"></i>
                        </button>
                    </div>*@

                        @*<div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
                        <span class="btn btn-success"></span>

                        <span class="btn btn-info"></span>

                        <span class="btn btn-warning"></span>

                        <span class="btn btn-danger"></span>
                    </div>*@
                    </div><!-- #sidebar-shortcuts -->

                    <ul class="nav nav-list">
                        <li>
                            <a href="/User/Index">
                                <i class="icon-dashboard"></i>
                                <span class="menu-text"> 员工列表 </span>
                            </a>
                        </li>
                        <li>
                            <a href="/Awards/Index">
                                <i class="icon-desktop"></i>
                                <span class="menu-text"> 奖品列表 </span>
                            </a>
                        </li>

                        <li>
                            <a href="/AwardsUser/Index">
                                <i class="icon-text-width"></i>
                                <span class="menu-text"> 中奖人员列表 </span>
                            </a>
                        </li>

                        <li>
                            <a href="/Home/Index">
                                <i class="icon-picture"></i>
                                <span class="menu-text"> 抽奖 </span>
                            </a>
                        </li>


                  
                    </ul><!-- /.nav-list菜单列表End... -->

               

                    <script type="text/javascript">
                        try { ace.settings.check('sidebar', 'collapsed') } catch (e) { }
                    </script>
                </div>

                <div class="main-content">
                    <div class="breadcrumbs" id="breadcrumbs">
                        <script type="text/javascript">
                            try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
                        </script>

                        <div>
                            @RenderBody()
                        </div>
                    </div>

              
                </div><!-- /.main-content -->

           
            </div><!-- /.main-container-inner -->

            <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
                <i class="icon-double-angle-up icon-only bigger-110"></i>
            </a>
        </div><!-- /.main-container -->

       
        <script type="text/javascript">
            if ("ontouchend" in document) document.write("<script src='/Static/assets/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
        </script>
        <script src="~/Static/assets/js/jquery-2.0.3.min.js"></script>
        <script src="/Static/assets/js/bootstrap.min.js"></script>
        <script src="/Static/assets/js/typeahead-bs2.min.js"></script>
        <script src="/Static/assets/js/ace.min.js"></script>
        <script src="/Static/assets/js/ace-elements.min.js"></script>
    </body>
</html>
<script type="text/javascript">
    $(".nav-list li").on("click", function() {
        $(this).parent().find('li').each(function () {
            $(this).removeClass('active');
        });
        $(this).addClass('active');
    });
</script>
