
@{
    ViewBag.Title = "添加标签模板";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Static/assets/css/font-awesome.min.css" rel="stylesheet" />


    <div class="page-content">

        <div class="row">
            <div class="col-xs-12">
                <div class="page-content">
                    <div class="page-header">
                        <h1>
                            添加标签模板
                            <small>
                                <i class="icon-double-angle-right"></i>
                                可以批量生成一种类型的标签
                            </small>
                        </h1>
                    </div><!-- /.page-header -->
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="LikeDegree">业务类型：</label>
                            <div class="col-sm-9">
                                <select class="col-xs-10 col-sm-5" id="BusType" name="BusType">
                                    <option value="">请选择</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="LikeDegree">评论类型：</label>
                            <div class="col-sm-9">
                                <select class="col-xs-10 col-sm-5" id="CommentType" name="CommentType">
                                    <option value="">请选择</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="LikeDegree">满意度：</label>
                            <div class="col-sm-9">
                                <select class="col-xs-10 col-sm-5" id="LikeDegree" name="LikeDegree">
                                    <option value="">请选择</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="tags">标签：</label>

                            <div class="col-sm-9">
                                <input type="text" name="tags" id="form-field-tags" value="" placeholder="输入标签" />
                            </div>
                        </div>
                        <div class="clearfix form-actions">
                            <div class="col-md-offset-3 col-md-9" style="margin:0 auto;text-align: center">
                                <button class="btn btn-info" type="button">
                                    <i class="icon-ok bigger-110"></i>
                                    提交
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div><!-- /.row -->
    </div><!-- /.page-content -->
<script src="~/Static/assets/js/typeahead-bs2.min.js"></script>
<script type="text/javascript">
    $(function () {
        var tag_input = $('#form-field-tags');
        try {
            tag_input.tag(
                {
                    placeholder: tag_input.attr('placeholder'),
                    //enable typeahead by specifying the source array
                    source: ace.vars['US_STATES'], //defined in ace.js >> ace.enable_search_ahead
                    /**
                  //or fetch data from database, fetch those that match "query"
                  source: function(query, process) {
                    $.ajax({url: 'remote_source.php?q='+encodeURIComponent(query)})
                    .done(function(result_items){
                      process(result_items);
                    });
                  }
                  */
                }
            );

            //programmatically add a new
            var $tag_obj = $('#form-field-tags').data('tag');
            //$tag_obj.add('Programmatically Added');
        }
        catch (e) {
            //display a textarea for old IE, because it doesn't support this plugin or another one I tried!
            tag_input.after('<textarea id="' + tag_input.attr('id') + '" name="' + tag_input.attr('name') + '" rows="3">' + tag_input.val() + '</textarea>').remove();
            //$('#form-field-tags').autosize({append: "\n"});
        }


        //添加标签
        $(".btn-info").on("click", function () {

            var busType = $("#BusType option:selected").val();
            var commentType = $("#CommentType option:selected").val();
            var likeDegree = $("#LikeDegree option:selected").val();
            var tags = $("#form-field-tags").val();
            if (busType == "") {
                layer.msg("请选择业务类型！");
                return false;
            }
            if (commentType == "") {
                layer.msg("请选择评论类型！");
                return false;
            }
            if (likeDegree == "") {
                layer.msg("请选择满意度！");
                return false;
            }
            if (tags == "") {
                layer.msg("请输入标签！");
                return false;
            } else {
                layer.confirm('您确认要生成这些标签吗？', {
                    btn: ['确认', '取消'] //按钮
                }, function () {
                    layer.load(2, { shade: [0.1, '#fff'] });
                    var params = { BusType: busType, CommentType: commentType, Tagstrs: tags, LikeDegree: likeDegree };
                    $.post("@Url.Action("AddCommentTag", "CommentTag")", params, function (data) {
                        if (data.status == 1) {
                            layer.msg(data.Message, {
                                icon: 1,
                                time: 2000
                            }, function () {
                                //parent.layer.close(index);
                                parent.location.reload();

                            });
                        } else {
                            layer.msg(data.Message);
                        }
                    });
                }, function () {
                    layer.msg('您已经取消了操作');
                });

            }

        });
    })
</script>

